@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,500,900");
:root {
    --light: rgba(242, 242, 242, 1);
    --deep: rgba(51, 51, 51, 1);
    --accent: rgba(69, 177, 203, 1);
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.notosansjp-bold-light-16px {
    color: var(--light);
    font-family: "Noto Sans JP", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}
.notosansjp-normal-light-16px {
    color: var(--light);
    font-family: "Noto Sans JP", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px
}
.notosansjp-bold-light-28px {
    color: var(--light);
    font-family: "Noto Sans JP", Helvetica;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
}
.notosansjp-medium-deep-20px {
  color: var(--deep);
    font-family: "Noto Sans JP", Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.notosansjp-normal-deep-16px {
    color: var(--deep);
    font-family: "Noto Sans JP", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans JP", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: var(--deep);
    background-color: var(--light);

    display: flex;
    align-items: center;
    justify-content: center;
}
#body-wrap {
    align-items: flex-start;
    display: flex;
    position: relative;
    width: 1000px;
}
#side {
    background-color: var(--deep);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content: flex-end; */
    flex-basis: 340px;
    padding-bottom: 40px;
}
#main {
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: flex-start
    flex-basis: 660px;
    padding: 0 20px 0 40px;
}

.fontawesome5free-normal-light-24px {
    color: var(--light);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
.group {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 261px;
    width: 272px;
}

/* side-section */
/* common */
.side-section-name {
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 28px;
    white-space: nowrap;
    width: 100%;
    margin: 0 0 16px 0;
    padding: 0 0 16px 0;
    border-bottom: solid 2px var(--light);
}
/* image */
.image-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}
.image-section img {
    width: 200px;
    height: 200px;
    border: solid 3px var(--light);
    border-radius: 50%;
}
/* info */
.info-section {
    width: 270px;
    margin-left: auto;
    margin-bottom: 40px;
}
.info-section .item-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 198px;  /* =42*4+10*(4-1) */
}
.info-section .item {
    height: 42px;
    display: flex;
}
.info-section .item-label {
    flex-basis: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-section .item-text-wrap {
    display: flex;
    flex-direction: column;
}
.info-section .item-text {
    flex: 1;
}
/* social */
.social-section {
    width: 270px;
    margin-left: auto;
}
.social-section a {
    text-decoration: none;
    color: var(--accent);
}
.social-section .item-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;  /* =42*5+10*(5-1) */
}
.social-section .item {
    height: 42px;
    display: flex;
}
.social-section .item-label {
    flex-basis: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-section .item-text-wrap {
    display: flex;
    flex-direction: column;
}
.social-section .item-text {
    flex: 1;
}

/* main */
header {
}
h1 {
    color: var(--deep);
    font-family: "Noto Sans JP", Helvetica;
    font-size: 52px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 3.2px;
    line-height: 52px;
    min-height: 52px;
    margin: 0 0 15px 0;
}
.h1-additional-text {
    color: var(--deep);
    font-family: "Noto Sans JP", Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 24px;
    min-height: 24px;
    white-space: nowrap;
}

.node {
    width: 16px;
    height: 16px;
    margin-top: 1px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border: 2px solid var(--deep);
    background-color: var(--light);
}

h3 {
    margin: 0;
}
.time-series .item-wrap {
    padding: 0;
}
.time-series-item:before {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    left: 371px;
    /* z-index: 1; */
    border-radius: 16px;
    border: 2px solid var(--deep);
    background: var(--light);
}
.time-series-item {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    margin-right: 0;
    padding-bottom: 20px;
}
.time-series-item:not(:last-child) {
    border-left: 2px solid var(--deep);
}
.time-series-item .text-term {
    letter-spacing: -0.6px;
    line-height: 16px;
    margin-left: 24px;
    margin-right: 40px;
    width: 140px;
}
.time-series-item .item-text {
}

/* pc */
/* @media (min-width:680px) { */
/* .bullet {
   width: 30px;
   height: 30px;
   display: block;
   position: relative;
   top: 44px;
   border-radius: 15px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   -o-border-radius: 15px;
   -ms-border-radius: 15px;
   border: 6px solid #6360af;
   background-color: #fff;
   }

   #contents {
   padding-bottom: 3em;
   }

   h3, .text {
   margin-left: 40px;
   } */
/* } */

/* mobile */
/* @media (max-width:680px) { */
/* .container {
   width: auto;
   margin: 0 auto;
   padding: 0 1em;
   }

   body {
   font-size: 11px;
   }

   #contents {
   padding: 1em 0;
   }

   .text {
   margin-bottom: 2em;
   }

   footer {
   padding: 1em 0;
   } */
/* } */
